.infGeneral
{
	/*
	border: solid 2px #000000 !important;
	*/
	font-family:Georgia;
	font-size:30px !important;
	color:#780001;
	background-color:#ffffff;	
    text-align:left;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 10px;
	padding: 3px 3px 3px 10px;
	width: 400px;
}

.menuHoyos
{
	color:#006600;
	font-size:14px !important;
	font-family:Arial !important;
	background: #FFFFFF;
	border: solid 1px #006600 !important;
	margin-bottom: 10px;
	margin-left: 410px;
	margin-top: -50px;
	padding: 3px 3px 3px 3px;
	width: 380px;
	height:70px;
}

.menuHoyos input
{
	background: #FFFFFF !important;
	color:#006600;
	font-size:12px !important;
	font-family:Arial !important;
	border: solid 1px #006600 !important;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	width: 30px;
	height:30px;
	text-align:center;
}

.linkVolver
{
    margin-left  : 0px;
	margin-top: -30px;
	text-align :left;
	vertical-align:middle;
	height:15px;
	width:200px;
}

.imagenFoto
{
	background-color:#DADADA;
	border: solid 1px #003366 !important;
	font-size:12px !important;
	font-family:Georgia !important;
	margin-left: 0px;
	margin-top: 10px;
	text-align :center;
	vertical-align:middle;
	height:310px;
	width:395px;
}
.imagenInfo
{
	background-color:#DADADA;
	border: solid 1px #003366 !important;
	font-size:12px !important;
	font-family:Georgia !important;
	margin-left: 402px;
	margin-top: -312px;
	text-align :center;
	vertical-align:middle;
	height:310px;
	width:395px;
}

.imagenLupa
{	
	margin-left: 350px;
	margin-top: -50px;
    text-align :center;
	vertical-align:middle;
	height:25px;
	width:25px;
	z-index:0;
}
.tablaMarca
{
	/*border: solid 1px #003366 !important;
	font-size:10px !important;
	font-family:Georgia !important;
    margin-bottom:100px;
*/	
 margin-left: 0px;
	margin-top: -100px;
	text-align :center;
	width:765px;
}

.publicidad
{
	border: solid 1px #003366;
	font-size:11px;
	margin-left: 805px;
	margin-top: -380px;
	width: 145px;
	height:500px;
}

.GENERAL {
	font-family: "Trebuchet MS", Tahoma, Helvetica, Arial, Verdana;
	font-size: 12px;
	color: #000000;
}

.botonModal
{
text-align:left;
}

.botonModal input
{
	position:absolute;
	border: solid 1px #003366;
	margin-bottom:-200px;
	width: 40px;
	height:25px;
}

.botonModal image
{
	margin-left: 0px;
	margin-top: 0px;
}

.botonModal img
{
	margin-left: 0px;
	margin-top: 0px;
}

.video
{
	/*
	background-color:#DADADA;
	border: solid 1px #003366 !important;
*/
	margin-left: 200px;
	margin-top: 50px;
	text-align :center;
	vertical-align:middle;
	height:320px;
	width:400px;
}

.videopanel
{
	background-color:#DADADA !important;
	border: solid 1px #003366 !important;

/*	margin-left: 200px;
	margin-top: 50px;
	text-align :center;
	vertical-align:middle;
*/
	height:320px;
	width:400px;
}