################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/PrecompiledWeb/spxWeb
/spxWeb/files
/Web2020/.vs/Web2020
