.titulo
{
	/*border: solid 2px #000000 !important;*/
	font-family:Georgia;
	font-size:30px !important;
	color:#780001;
	/*
	background-color:#003366;
    */	
    text-align:left;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 10px;
	padding: 3px 3px 3px 10px;
	width: 50%;
}

.infGeneral
{
	background-image:../img/nota.png  no-repeat;
	background: #FFFFFF url(../img/nota.png) no-repeat;
	border: solid 2px #003366 !important;
	font-size:11px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 0px;
	padding: 3px 3px 3px 3px;
	width: 300px;
	text-align:left;
}
.imagenPrincipal
{
	background-color:#DADADA;
	border: solid 1px #003366 !important;
	font-size:12px !important;
	font-family:Georgia !important;
	margin-left: 350px;
	margin-top: -190px;
	text-align :center;
	vertical-align:middle;
	height:400px;
	width:450px;
}

.imagenPrincipal image
{
max-height:400px;
max-width:450px;
min-width:450px;
}

.imagenPrincipal img
{
max-height:400px;
max-width:450px;
min-width:450px;
}

.imagenLogos
{
	background-color:#DADADA;
	border: solid 1px #003366 !important;
	font-size:12px !important;
	font-family:Georgia !important;
	margin-left: 0px;
	margin-top: -210px;
	text-align :center;
	vertical-align:middle;
	height:210px;
	width:290px;
}

.imagenLogos image
{
max-height:210px;
max-width:290px;
min-width:290px;
}

.imagenLogos img
{
max-height:210px;
max-width:290px;
min-width:290px;

}

.linkHoyos
{
	/*background-color:#DADADA;
	border: solid 1px #003366 !important;
*/	
margin-left: 250px;
	margin-top: -420px;
	text-align :right;
	vertical-align:middle;
	height:15px;
	width:200px;
}


.tablaMarca
{
	border: solid 1px #003366 !important;
	font-size:10px !important;
	font-family:Georgia !important;
    margin-bottom:100px;
	margin-left: 0px;
	margin-top: -85px;
	text-align :center;
	width:765px;
}

.tituloMarcas
{
	border: solid 1px #003366 !important;
	font-size:14px !important;
	font-family:Georgia !important;
	margin-left: 0px;
	margin-top: 5px;
	text-align :left;
	color:#780001;
	width:200px;
}

.botonImprimirMarcas
{
	border: solid 1px #003366 !important;
	font-size:10px !important;
	font-family:Georgia !important;
	margin-left: 660px;
	margin-top: -20px;
	margin-bottom:-26px;
	text-align :right;
	width:100px;
}

.tituloTablaMarca
{
	background-color:#23669E;
	color:White;
    font-size:12px !important;
	font-family:Arial !important;
	font:bold;
	height:20px;
}
.fila1TablaMarca
{
	background-color:#C7F0EA;
	color:Black;
    font-size:12px !important;
	font-family:Arial !important;
	border:0px;
	font:bold;
	height:20px;
}
.fila2TablaMarca
{
	background-color:#FFFFFF;
	color:Blue;
    font-size:12px !important;
	font-family:Arial !important;
	font:bold;
	height:20px;
}

.publicidad
{
	border: solid 1px #003366;
	font-size:11px;
	margin-left: 805px;
	margin-top: -406px;
	width: 145px;
	height:500px;
}

.GENERAL {
	font-family: "Trebuchet MS", Tahoma, Helvetica, Arial, Verdana;
	font-size: 12px;
	color: #000000;
}

.imagenLupaLogo
{	
	margin-left: 240px;
	margin-top: -46px;
    text-align :center;
	vertical-align:middle;
	height:25px;
	width:25px;
	z-index:0;
}

.imagenLupa
{	
	margin-left: 400px;
	margin-top: 350px;
    text-align :center;
	vertical-align:middle;
	height:25px;
	width:25px;
	z-index:0;
}