<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPControladoraDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="SPControladoraDatos.Properties.Settings.SUPPORTECHConnectionString"
            connectionString="Data Source=144.126.151.13,19889;Initial Catalog=spxReactivosVallefff;Persist Security Info=True;User ID=sa;Password=sElectra69l#2023;"
            providerName="System.Data.SqlClient" />
        <add name="SPControladoraDatos.Properties.Settings.supportechConnectionString1"
            connectionString="Data Source=144.126.151.13,19889;Initial Catalog=spxReactivosVallefff;Persist Security Info=True;User ID=sa;Password=sElectra69l#2023;" />
        <add name="SPControladoraDatos.Properties.Settings.wcg_coreConnectionString"
            connectionString="Data Source=144.126.151.13,19889;Initial Catalog=spxReactivosVallefff;Persist Security Info=True;User ID=sa;Password=sElectra69l#2023;" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
        <SPControladoraDatos.Properties.Settings>
            <setting name="usuarioAutenticado" serializeAs="String">
                <value />
            </setting>
            <setting name="posicionCombo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customTheme" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="eee" serializeAs="String">
                <value />
            </setting>
        </SPControladoraDatos.Properties.Settings>

    </userSettings>
</configuration>
